.settings-content{
  margin-bottom: 20px;
  height: 150px;
  background-color: white;
  width: 100%;
  text-align: left;
  padding: 10px 20px 10px 180px;
  background-repeat: no-repeat;
  background-position: left top;
  background-size: contain;

  .text {
     color: #000000;
     font-size: 16px;
  }
  input {
    height: 45px;
    width: 50%;
    text-align: center;
    margin-left: -15px;
    margin-top: 10px;
    font-size: 45px;
    background-color: #5C5B5B;
    border: solid thick;
    border-color: #5C5B5B;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  span {
    font-size: 30px;
    color: #000000;
  }
}
