.settings-content{
  margin-bottom: 20px;
  height: 150px;
  background-color: white;
  width: 100%;
  text-align: left;
  padding: 10px 20px 10px 180px;
  background-repeat: no-repeat;
  background-position: left top;
  background-size: contain;

  .text {
     color: #000000;
     font-size: 16px;
  }
}
