<div class="dialog">
  <div class="container-fluid container">
    <div class="circleBase" *ngIf="contentLoaded" (click)="dialog.closeAll()"><i class="material-icons">clear</i></div>
    <div class="justify-content-end">
      <div *ngIf="!contentLoaded">
        <mat-progress-spinner style="margin:20% auto;" [mode]="'indeterminate'"></mat-progress-spinner>
      </div>
      <div *ngIf="contentLoaded && contentError">
        <div>
          <h3>{{'NOT_ABLE_TO_SEND_RMA' | translate}}</h3>
          <h3>{{'TRY_LATER_AGAIN' | translate}}</h3>
        </div>
      </div>
      <div *ngIf="contentLoaded && hrefRmaPdf">
        <div class="successfully-sent-rma">
          <h2 *ngIf="filesUploaded.length === files.length">{{'SUCCESSFULLY_SENT' | translate}}</h2>
          <a href="{{hrefRmaPdf}}" download target="_blank" (click)="dialog.closeAll()"> <i class="material-icons">cloud_download</i></a>
            <h3>{{'DOWNLOAD_DELIVERY_NOTE' | translate}}</h3>
          <h3 *ngIf="files.length > 0">{{'UPLOADED_FILES'}}</h3>
          <div *ngFor="let file of filesUploaded">
            <h3>{{file}}</h3>
          </div>
        </div>
      </div>
      <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate class="form" *ngIf="contentLoaded && !contentError && !hrefRmaPdf">
        <div class="form-group">
          <input autocomplete="off" placeholder="{{'PARTNR_DELIVERYNR_INVOICENR' | translate}}" type="text" class="form-control required" name="anyNumber" [(ngModel)]="rma.detail.PARTNR_DELIVERYNR_INVOICENR" #anyNumber="ngModel" [ngClass]="{ 'is-invalid': f.submitted }" required />
          <div *ngIf="f.submitted && anyNumber.invalid" class="invalid-feedback">
            <div *ngIf="anyNumber.errors.required">{{'PARTNR_DELIVERYNR_INVOICENR' | translate}}</div>
          </div>
        </div>
        <div class="form-group">
          <select name="failure" class="form-control dropdown"  [(ngModel)]="rma.detail.FAILURE">
            <option value="" disabled selected hidden>{{'FAILURE_DESCRIPTION' | translate}}</option>
            <option *ngFor='let failure of failures' [ngValue]="failure">{{failure.toUpperCase() | translate}}</option>
          </select>
          <div *ngIf="f.submitted && anyNumber.invalid" class="invalid-feedback">
            <div *ngIf="anyNumber.errors.required">{{'FAILURE_DESCRIPTION' | translate}}</div>
          </div>
        </div>
        <div class="form-group">
          <textarea [(ngModel)]="rma.detail.FAILURE_DESCRIPTION" rows="5" name="failureDescription"  placeholder="{{'ERROR_DESCRIPTION_NOTES' | translate}}" ></textarea>
        </div>
        <div class="form-group">
          <input autocomplete="off" placeholder="{{'NUMBER_OF_ELEMENTS' | translate}}" type="text" class="form-control" name="amount" [(ngModel)]="rma.detail.NUMBER_OF_ELEMENTS" #amount="ngModel" [ngClass]="{ 'is-invalid': f.submitted }" required />
          <div *ngIf="f.submitted && amount.invalid" class="invalid-feedback">
            <div *ngIf="amount.errors.required">{{'NUMBER_OF_ELEMENTS' | translate}}</div>
          </div>
        </div>
        <div class="form-group">
          <input autocomplete="off" placeholder="{{'PARTNUMBER_OF_ELEMENTS' | translate}}" type="text" class="form-control" name="partNumber" [(ngModel)]="rma.detail.PARTNUMBER_OF_ELEMENTS" #partNumber="ngModel" [ngClass]="{ 'is-invalid': f.submitted }" required />
          <div *ngIf="f.submitted && partNumber.invalid" class="invalid-feedback">
            <div *ngIf="partNumber.errors.required">{{'PARTNUMBER_OF_ELEMENTS' | translate}}</div>
          </div>
        </div>
        <div class="form-group">
          <select name="timeOfFailure" class="form-control dropdown"  [(ngModel)]="rma.detail.TIME_OF_ERROR_DETECTION" #time_of_failure="ngModel" required>
            <option value="" disabled selected hidden>{{'TIME_OF_ERROR_DETECTION' | translate}}</option>
            <option *ngFor='let failure of timeOfFailures' [ngValue]="failure">{{failure.toUpperCase() | translate}}</option>
          </select>
          <div *ngIf="f.submitted && time_of_failure.invalid" class="invalid-feedback">
            <div *ngIf="time_of_failure.errors.required">{{'TIME_OF_ERROR_DETECTION' | translate}}</div>
          </div>
        </div>
        <div>
          <div class="form-group">
            <file-drop (onFileDrop)="dropped($event)" customstyle="file-drop-zone-rma">
              <span style="margin-top: -50px; color: #93C11C;">{{'FILES_TO_UPLOAD' | translate}} max. 3</span>
            </file-drop>
            <div [hidden]="files.length === 0" style="margin-top: 20px">
                <div *ngFor="let item of files">
                  <span style="margin-right: 20px"><i class="material-icons" style="font-size: 18px; cursor: pointer" (click)="deleteUploadFile(item)">delete</i></span>
                  <span>{{ item.path }}</span>
                  <span class="float-right" >{{ item.size }}</span>
                </div>
            </div>
          </div>
        </div>
        <div class="form-group" style="margin-top: 20px">
          <button type="submit" class="btn width100">{{'SUBMIT' | translate}}</button>
        </div>
      </form>
    </div>
  </div>
</div>
