.containerTable{
  height: 600px;
  overflow: auto;
  overflow-x: hidden;
  width: 100%;
}

.content{
  overflow: hidden;
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}

i:hover {
  cursor: pointer !important;
}
