.send-order-dialog {
  background-color: white;
  padding: 50px;
  text-align: center;
  color: #93C11C;

  h1 {
    margin-bottom: 20px;
  }
}

.progress-container {
  background: transparent;
  height: 400px;
}
